body {
    margin: 40;
    background-color: rgb(252, 140, 120);
    font-family: 'work sans', sans-serif;
    font-weight: 100;
}

.container {
    width: 80;
    font-weight: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
}

header {
    background: palevioletred;
}
header::after {

    content: '';
    display: table;
    clear: both; 
}

nav {
    float: middle;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 300px;
} 



.logo {
 width: 20px;
 
}

.content {
text-align: center;
margin-top: 100px;
padding-bottom: 200px;
}

.about {
    margin-bottom: 100px;
    padding-bottom: 100px;
}

.footer {
    text-align: center;
    list-style: none;
}
.logo1 {
    float: middle;
    margin-top: 10px;
    list-style: none;
    display: inline-block;
    margin: 0px 35px;

}