* header { 
  * height: 100px;
  width: 100%;
  border-bottom: 10px solid rgb(9, 0, 139);
  background-color: #14141475;
  flex-direction: (0,0,1) row;
}   

.container {
  
}
body {background-color: rgb(247, 221, 212);}

img {
  WIDTH: 250PX;
  border-radius: 50px;
  float: right;
  margin-right: 100px;
 }

#description {
  height: 250;
}
 div {
  display: block;
} *
